.e11{
width: 500px;
    background-color: brown;
    color: aliceblue;
   
}
.e10{
    text-align: center;
    padding-left: 390px;
}
.rty{
    background-color:turquoise;
    margin-left: 10px;
    width: 490px;
    text-align: center;
    height: 100px;
    
   
}
.roa{
text-align: center;
padding-left: 570px;
padding-left: 800px;

}
.ghj{
    background-color: black;
    border: 5px solid red;
    width: 600px;
    padding-left: 100px;
    height: 290px;
    margin-left: 300px;

   
   
}
